@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.timer{
    text-align: center;
    color: #626c76;
    font-family:'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}

#time{
    color: #92abba;
    font-size: 3rem;

    font-family:'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}


