@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.textBox {
    display: grid;
    place-items: center;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";

}

#box-for-input {
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
    border-radius: 3px;
    font-size: 25px;
    background-color: #ebeded;
    list-style: none;
    height: 2.5rem;
    width: 25rem;
    border-style: solid;
    font-weight: 300;
    border-color: #a4bdcb;
    overflow: hidden;
    box-shadow: 2px 2px #a4bdcb;
}

#answer {
    padding-left: 3px;
 
}

#pre-defined {
    color: #262a2c;
    padding-bottom: 5px;
}

#message {
    padding-top: 10px;
}

@media (max-width: 480px) {
    #box-for-input{
        height: 2.42rem;
        width: 18rem;
        font-size:20px
    }
}