@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.textBox {
    display: grid;
    place-items: center;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";

}

#box-for-input {
    border-radius: 3px;   
    background-color: #ebeded;
    list-style: none;
    height: 2.5rem;
    width:25rem;
    border-style: solid;
    font-weight: 300;
    border-color: #a4bdcb;
    overflow: hidden;
    box-shadow: 2px 2px #a4bdcb;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
}

#answer {
    display: flex;
    padding-left: 3px;
    justify-items: center;
    font-size: 25px;

}

#pre-defined {
    color: #262a2c;
    padding-bottom: 5px;
    text-align: center;
    width: 200px;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
}

#message {
    padding-top: 10px;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial NarrowCourier New', 'Courier', 'monospace', 'sans-serif';
}


@media screen and (max-width: 480px){
    #box-for-input{
        width: 100%;
       
    }
}

