
*{  
    box-sizing: border-box;
    margin: 0;
  
   
}

body{
    background-color: #f5f5f5;
}
 

 
#score-howTo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 480px){
    #footer{
        display: none;
    }
}
@media (max-width: 480px){
   
  

     #how-to-box{
        display:none;
     }

     #score-howTo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
     }
     

}
