@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#header-main{
    display: none;
}
#after-open{
    display: none;
}

#explain-for-mobile{
    display: none;
}

@media (max-width:480px) {
    
    #header-main, #after-open{
        background-color: #1A1A1D;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        box-shadow: 0 0 2px 2px white;
        flex-grow: 1;
        border-bottom-left-radius: 5px;     
        border-bottom-right-radius: 5px;           
    }

    #explain-for-mobile{
        display:block;
    }

    #pointerArrow{
        transform: rotate(40deg);
        font-size: 2rem;
        color: white;
        margin-right: 10px;
        margin-top: 10px; 
    }

    #hamburger-menu,#hamburger-menu-opened, #mail, #copyright-logo, #contact-mail-header{
        color: white;
        font-size: 2.5rem;
    }

  

    #website-name{
        color:white;
        font-size: 2rem;
        font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

    #q-mark{
        color: white;
        font-size: 2rem;
        margin-top: 15px;
    }

    #website-name, #hamburger-menu, #hamburger-menu-opened, #copyright-logo, #mail{
        padding-top: 10px;
    }
    #after-clicked{
        margin: 10px;
    }
    
    .explain-mobile {
        display: flex;
        color: white;
        flex-direction: column;
        background-color: #323237;
        z-index: 2;
        position: absolute;
        top: 40%;
        left: 50%;
        height: fit-content;
        justify-content: center;
        align-items: center;
        outline: 1px solid rgb(255, 255, 255);
        width: 80%;
        height: 30%;
        font-size: 1.2rem;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    }

    #close-explanation{
        font-size: 1rem;
        margin-top: 10px;
        width: fit-content;
        outline: 1px solid rgb(255, 255, 255);
        border: none;
        text-align: center;
    }

    #button-to-close{
        padding-top: 20px;
    }
}



@media screen and (max-width: 320px){
    #website-name{
        font-size: 1.5rem;
        padding-top: 12px;
    }

    .explain-mobile{
        font-size: 1rem;
       }
  
}

@media screen and (max-width: 300px){
   .explain-mobile{
    font-size: 1rem;
   }
}