@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



@media (max-width:1200px) {
    
    #header-main, #after-open{
        background-color: black;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        
    }

    #hamburger-menu,#hamburger-menu-opened, #mail, #copyright-logo{
        color: white;
        font-size: 2.5rem;
    }

    #website-name{
        color:white;
        font-size: 2rem;
        font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

    #q-mark{
        color: white;
        font-size: 2rem;
        margin-top: 10px;
    }

    #website-name, #hamburger-menu, #hamburger-menu-opened, #copyright-logo, #mail{
        padding-top: 10px;
    }
    #after-clicked{
        margin: 10px;
    }

    #explanation {
        background-color: #9d9d9d;
        text-align: center;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding-top: 0;
        margin-top: 2px;
        width: 1fr;
        height: auto;
        font-size: 10px;
        font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
        cursor: pointer;
    }

    #explanation-box {
        padding-top: 4px;
    }

}