
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer-container{

    position: fixed;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: 0;
    width: 100%;
    height: 3rem;

}

#linkedIn-gigi, #linkedIn-nicka{
    text-decoration: none;
}

#flexable-footer{
    
    padding: 0.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    
    background-color: none;
    color:#0077B5;
}

#contact-mail{
    font-size: 1.5rem;
    color:black !important;
    font-family:'Poppins', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

#linkedIn-gigi{
    padding-right: 2px;
}