@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


button {
    font-family: 'Poppins', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    border: 2px solid #ebeeef;
    background-color: #a4bdcb;
    font-size: 15px;

}

button:hover {
    background-color: #717e85;
    transform: scale(0.9);
}



.keyboard-grid {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

#first-row {

    padding-bottom: 0.2px;
}

#second-row {
    padding-top: 0.5px;
}

#third-row {
    padding-top: 0.5px;
}

#enter-button {
    width: 6rem;
}

#space {
    width: 100%;
}

#space:hover {
    transform: scale(0.99) !important
}

@media (max-width:480px) {
    #enter-button {
        width: 4rem;
    }

    button {
        width: 2rem;
        height: 2rem;
        font-size: 15px;
    }
}