@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.textBox{
    display: grid;
    place-items: center;
    font-size: 16px; 
    font-weight: 100;
    font-family:'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
   
}

#box-for-input{
    font-family:'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
    border-radius: 3px;
    font-size:25px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    height: 2.5rem;
    width: 25rem;
    border-style: solid; 
    font-weight: 300;
    border-color: #a4bdcb;
    overflow: hidden;
    box-shadow: 2px 2px #a4bdcb;
}

#answer{
    
    padding-left: 2px;
    
}

#pre-defined{
    color:#262a2c;
    filter:drop-shadow(1px 0px 1px #717e85);
    padding-bottom: 5px;
}

#message{
    padding-top: 10px;
}