@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer-container {
    position: fixed;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


#flexable-footer {
    padding: 10px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0 0.5px #a5a2a2;
}

a {
    text-decoration: none;
    background-color: none;
    color: #010101;
}

#contact-mail {
    font-size: 1rem;
    color: black !important;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
#envelope{
    font-size: 1.3rem;
    padding-right: 2px;
    cursor: pointer;
}


#copyright-logo-with-text {
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

#copyright-logo {
    padding-right: 2px;
}


@media screen and (min-width:700px) and (min-height: 800px){
    #flexable-footer{
        height: 5rem;
    }

    .footer-container{
        height: 5rem;
        box-shadow: 0 0 0 0.5px black;
    }
    #copyright-logo-with-text {
        font-size: 2rem;
    }

    #envelope, #contact-mail-header, #contact-mail{
        font-size: 2rem;
    }

}