@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#popUp-box{
    position: absolute;
    z-index: 3;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial',' sans-serif';
    text-align: center;
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    color: white;
    background-color: #323237;
    border: 2px solid white;
    box-shadow: 1px 1px #323237;
}

#times-up{
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial',' sans-serif';
    font-weight: bold;
    padding-top: 1rem;
    color: #c3073f;
    font-size: 2rem;
}

#guessed-number{
    padding-top: 0.5rem;
}

#restart{
    position: absolute;
    border: 2px solid white;
    width: fit-content;
    font-size: 20px;
    height: fit-content;
    color: #c3073f;
    font-weight: bold;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: #323237;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 480px) {
    #popUp-box{
        width: 80%;
        height: 30%;
        position: absolute;
        top:35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 320px) {
 
    #restart, #times-up{
        font-size: 1rem;
    }

    
}

@media screen and (min-height: 800px) and (min-width: 1000px) {
   
    #popUp-box{
        width: 40%;
        height: 50%;
    }
   
    #restart{
        font-size: 2rem;
    }

    #times-up{
        font-size: 3rem;
    }

    #guessed-number{
        font-size: 1.5rem;
    }
}
