@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#popUp-box{
    position: absolute;
    z-index: 1;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial',' sans-serif';
    text-align: center;
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: #a4bdcb;
    border: 2px solid black;
    box-shadow: 1px 1px #000000;
}

#times-up{
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial',' sans-serif';
    font-weight: bold;
    padding-top: 1rem;
    font-size: 2rem;
}
#guessed-number{
    padding-top: 0.5rem;
}

#restart{
    position: absolute;
    border: 2px solid#000000;
    width: fit-content;
    font-size: 20px;
    height: fit-content;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px){
    #popUp-box{
        width: 20rem;
        height: 20rem;
        top:40%;
    }
}

@media (max-width: 400px){
    #popUp-box{
        top: 50%;
    }
}