@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

button {
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 1.35px solid white;
    background-color: #1A1A1D;
    font-size: 21px;
    font-family: 'Poppins', 'sans-serif';
}

#keyboard {
    display: flex;
    justify-content: center;
    align-items: center;

}


.keyboard-grid {
    display: grid;

    grid-template-columns: repeat(10, minmax(3rem, 1fr));
    grid-template-rows: repeat(4, minmax(3.5rem, 1fr));

}

#space {
    grid-row-start: 4;
    grid-column: span 7;
    width: 100%;
}

#enter-button {
    grid-row-start: 4;
    grid-column: span 3;

}

#spacer,
#a,
#s,
#d,
#f,
#g,
#h,
#j,
#k,
#l {
    grid-row-start: 2;
}

#z,
#x,
#c,
#v,
#b,
#n,
#m,
#remove-letter {
    grid-row-start: 3;

}

#hyphen {
    grid-row-start: 2;

}

#remove-letter {
    grid-column: span 2;
}

#spacer {
    grid-row-start: 3;
    border: 1.35px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

@media screen and (max-width: 480px) {
    #keyboard {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(2.2rem, 3rem));
        grid-template-rows: repeat(4, minmax(2.5rem, 4rem));
        grid-gap: 2px;
    }

    button {
        font-size: 18px;
        border-radius: 6px;

    }

}

@media screen and (max-width: 380px) {


    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(1.5rem, 2.5rem));
        grid-template-rows: repeat(4, minmax(1.7rem, 3rem));
    }

    button {
        font-size: 15px;
    }

}

@media screen and (max-width: 320px) {

    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(1.6rem, 3rem));
        grid-template-rows: repeat(4, minmax(1.4rem, 3rem));
    }

    button {
        font-size: 15px;
    }
}

@media screen and (max-width: 280px) {
    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(1.4rem, 3rem));
        grid-template-rows: repeat(4, minmax(1.5rem, 3rem));
    }
}

@media screen and (max-height: 580px) {
    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(1.5rem, 3rem));
        grid-template-rows: repeat(4, minmax(1.5rem, 2.5rem));
    }
}

@media screen and (min-height: 800px) and (min-width: 700px) {

    .keyboard-grid {
        grid-template-columns: repeat(10, minmax(4.4rem, 1fr));
        grid-template-rows: repeat(4, minmax(4.5rem, 1fr));
    }

    button {
        font-size: 18px;
        border-radius: 10px;

    }
}