@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


button {
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 3rem;
    border: 2px solid #ebeeef;
    background-color: #a4bdcb;
    font-size: 15px;
    font-family:'Poppins', 'sans-serif';

}

button:focus {
    outline: none;
}



.keyboard-grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    
    
}



#enter-button {
    grid-column: span 2;
    width: 100%;
}

#space {
    grid-column: span 10;
    width: 100%;
}




@media (min-width: 410px) and (max-width: 451px){

   button{
    font-size: 15px;
    height: 3rem;
   }
   .keyboard-grid{
    grid-template-columns: repeat(10, 42.5px);
   }
  
}

@media (min-width: 350px) and (max-width: 409px){

    button{
     font-size: 15px;
     height: 3.5rem;
    }
    .keyboard-grid{
     grid-template-columns: repeat(10, 39px);
    }
   
 }

 @media (min-width: 300px) and (max-width: 349px){

    button{
     font-size: 15px;
     height: 3.5rem;
    }

    .keyboard-grid{
     grid-template-columns: repeat(10, 1fr);
    }
   
 }