*{  
    box-sizing: border-box;
    margin: 0;
}
 
#keyBoard{
   display: flex;
   justify-content: center;
   align-items: center;
} 


#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}