@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#circle-questionMark {
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

#explanation {
    background-color: #9d9d9d;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    width: 200px;
    height: auto;
    font-size: 13px;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    cursor: pointer;
}

@media screen and (min-width:700px) and (min-height: 800px) {
    #explanation {
        font-size: 1.2rem;
        width: 40%;
    }

    #circle-questionMark {
        font-size: 3rem;

    }
}